.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #39a900;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    overflow-y: auto;
}
.section img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 0 10px;
    object-fit: cover;
}
.section .perfil-h3{
    margin: 10px 0 0 0;
}
.section .logo-sena-img{
    width: 120px;
    height: 120px;
    margin: 15px;  
   
}
.section .nombre{
    color: white;
}
.section a{
    text-decoration: none;
}
.section .perfil-h3{
    color: aliceblue;
}
.section .redes-sociales{
    width: 80%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: black;
}
.redes-sociales .redes{
    font-size: 25px;
    color: aliceblue;
} 

.redes-sociales .redes:is(:hover, :focus){
    color: #39a900;

}

.section hr{
    width: 50%;
    height: 5px;
    background-color: aliceblue;
}
 @media (max-width: 350px) {
}
@media (max-width: 480px) {
    .section {
        width: 100%;
        height: auto;
        position: static;
    }
    .section img {
        width: 200px;
        height: 200px;
        margin: 30px 0;
    }
    .section .redes-sociales{
        margin: 0 0 10px;
    }
    .redes-sociales .redes{
        font-size: 30px;
        color: aliceblue;
} 
.section .redes-sociales {
        width: 80%;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        background-color: black;
}
}

@media (max-width: 768px) {
    .section img{
        width: 200px;
        height: 200px;
        margin: 30px 0 ;
    }
    .section .nombre{
        font-size: 20px;
    }
    .section .perfil-h3{
        font-size: 24px;
    }
    .section .logo-sena-img{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .section .redes-sociales{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 70%;
        height: 3rem;
    }
    .redes-sociales .redes{
        font-size: 20px;
    }
    
}

@media (max-width: 920px) {
    section img {
            width: 130px;
            height: 230;
        }
        .section .logo-sena-img{
            width: 50px;
            height: 50px;
        }
}

@media (min-width: 1280px) {} 